{% extends "admin/base_site.html" %}

{% block content %}
  <h1>{{ title }}</h1>
  <form method="post">{% csrf_token %}
    <table>
      <tr>
        <th>{{ form.start_date.label_tag }}</th>
        <td><input type="date" name="start_date" required value="{{ form.start_date.value|default_if_none:'' }}"></td>
      </tr>
      <tr>
        <th>{{ form.end_date.label_tag }}</th>
        <td><input type="date" name="end_date" required value="{{ form.end_date.value|default_if_none:'' }}"></td>
      </tr>
      <tr>
        <th>{{ form.max_sessions.label_tag }}</th>
        <td>{{ form.max_sessions }}</td>
      </tr>
    </table>
    <input type="submit" value="Add Slots" class="default">
    <a href="{% url 'admin:studio_booking_availableslot_changelist' %}" class="button">Cancel</a>
  </form>
{% endblock %} 